
/* Sticky footer styles
-------------------------------------------------- */
.footer {
    background-color: #337ab7;
    bottom: 0;
    height: 60px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.container .footer-content {
    color: #FFF;
    margin: 20px 0;
}